[2015-02-13 03:30] mottihoresh opened #1 "config_path is not defined"

[2015-02-13 08:00] vinkla commented on #1
Hey @mottihoresh, could you please explain a bit more? Maybe add a description and some example code as a reference.

[2015-02-13 13:11] mottihoresh commented on #1
sorry, false positive. my version of laravel5 didn't have the config_path helper function for some reason.

[2015-02-13 13:17] vinkla commented on #1
No problems. Then I'll close this.

[2015-02-13 13:17] #1 closed

[2015-02-14 10:58] vinkla opened #2 "Error Using the Facade"
The error below has been reported by @alexandredes and @mottihoresh. This error occurs when using the Facade. As I've learned, using dependency injection it works.

[code]

I've tried this in my local setup, using Homestead, with both the Facade and dependency injection without any problems. The events gets registered in the console at http://pusher.com. Example code below.

[code]

![unnamed](htt

[2015-02-16 19:19] snapey opened #3 "publish package"
Configuration
This will create a config/pusher.php file in your app that you can modify to set your configuration. Also, make sure you check for changes to the original config file in this package between releases.

I was stuck with 'This' .  I found eventually to run *php artisan vendor:publish*  then the pusher.php file appeared in the app/config folder.  Please change the readme?

[2015-02-20 21:30] a3gis commented on #2
Same problem here. No fix idea as of yet :/

[2015-02-26 09:25] simderoemer commented on #2
Same issue.

[2015-02-27 08:40] aydnbhdr commented on #2
It occurs on my project too.

[2015-02-28 17:04] yhalabi commented on #2
Same here

[2015-03-02 15:02] #3 closed

[2015-03-02 15:03] vinkla commented on #3
This has been updated now.

[2015-03-02 15:14] vinkla commented on #2
I think this is because how the Pusher library is built. The `Pusher` package currently autoloads everything in their `lib` directory. The `Pusher` class and `Pusher` facade might collide and overwrite each other.

I've have discussed a PSR-4 update to the library in https://github.com/pusher/pusher-http-php/pull/25. They are about to release a new package that is more up to date with PHP. Maybe w

[2015-03-07 03:04] Kryptonit3 commented on #2
Any idea on when this will be fixed? Or what we can temporarily edit to make it work?

[2015-03-07 21:49] mottihoresh commented on #2
I was having more issues it today. I am not too familiar with the way ServiceProviders work in Laravel, so i just created a very basic service injector

https://gist.github.com/mottihoresh/394e12ea802b41b5ef65

the only thing you need to do is to add pusher-php-server to your composer file.

[2015-03-09 15:01] vinkla commented on #2
@mottihoresh @Kryptonit3 Have you tried using it as in our dependency injection example instead of using the facade?

[2015-03-15 14:34] vinkla commented on #2
For reference how to use it with dependency injection you can check out this [RealTimeStatusHandler](https://github.com/StyleCI/StyleCI/blob/master/app/Handlers/Events/RealTimeStatusHandler.php) class by @StyleCI.

[2015-03-16 08:11] vinkla opened #4 "Add New Version With Event Buffer"
When https://github.com/pusher/pusher-http-php/pull/31 gets merged. We shall release a new version. The new version should be either `1.1` or `2.0`, it depends on if the new event buffer is breaking or not.

[2015-03-17 20:37] TimothyLoyer commented on #2
I tried using the facade and then DI and get the same error (maybe since the PusherManager also ends up using the facade?).

[code]

[2015-03-17 20:41] vinkla commented on #2
@TimothyLoyer I think its because how the Pusher library is built, it currently return the Pusher class globally.

[2015-03-17 20:47] TimothyLoyer commented on #2
Maybe having your facade named "Pusher" is causing an issue- might be why the L4 package used "pusherer".

[2015-03-17 20:49] vinkla commented on #2
@TimothyLoyer Yes, I think so too. Maybe we can hold out on this until they release the new version https://github.com/pusher/pusher-http-php/tree/new-lib

[2015-03-17 20:51] TimothyLoyer commented on #2
I just renamed the facade (and continued using DI, but I imagine that the facade also works now with its new name). The area of issue is in PusherFactory, where you have `use Pusher;` it is pulling in the your facade rather than the Pusher library.

[2015-03-17 20:53] vinkla commented on #2
The facades in Laravel are globally registered so its quite hard to work around. Did it work renaming it?

[2015-03-17 20:57] TimothyLoyer commented on #2
Yes, and you are right about the Pusher php library- all those classes are in the global namespace (ugly!) so that forces you into working around its namespaced classes. You'll want to double check all those classnames to be sure you don't have any overlap.

[2015-03-17 21:19] vinkla commented on #2
@TimothyLoyer Yes, you can still use the `PusherManager` class without any problems.

[2015-03-17 22:05] TimothyLoyer commented on #2
I tweeted Pusher about namespacing their composer package and got a pretty quick response from @leggetter. "We’ve got a new-lib branch which is an completely re-written lib. v3.0 will be the last non-namespaces major release." More info here: http://j.mp/1MKUTt3  - Looks like they are moving to a 4.0 branch.

[2015-03-17 22:09] leggetter commented on #2
:+1:

[2015-04-05 12:40] jadjoubran commented on #2
I can't seem to get it work with dependency injection as well.
Can you show an example how it works?

[2015-04-05 12:55] vinkla commented on #2
@jadjoubran please see https://github.com/vinkla/pusher/issues/2#issuecomment-81042987. Yes, you could try to remove the facade.

[2015-06-04 16:28] CoeusCC commented on #2
For the time being, I've just renamed my facade to `LaravelPusher` to great success. In my controller I call `use LaravelPusher;` then I can use
[code]
in my function. My alias then has to become `'LaravelPusher' => 'Vinkla\Pusher\Facades\Pusher',`.

As mentioned above, it's because the class and facade clash for the namespace.

[2015-06-14 21:06] Kryptonit3 opened #5 "Method 'trigger' not found in class \Vinkla\Pusher\PusherManager"
Well, I decided to give this package another go with Laravel 5.1. Not sure what the issue is. None of the Pusher SDK methods are available when I try your dependency injection method.

[code]

Anyway to fix this so autocompletion will work?

[2015-06-15 00:21] Kryptonit3 commented on #5
also getting this when trying to use Facade
[code]

[2015-06-23 07:03] kunalthool commented on #2
Thanks that works like a charm.

[2015-06-23 19:29] Kryptonit3 commented on #2
here is a simple package - https://github.com/Kryptonit3/Pusher

[2015-06-29 09:49] noprobz09 commented on #5
Same here, I also encounter same issue, is there any other way to resolve the issue?

[2015-06-29 11:32] Kryptonit3 commented on #5
@noprobz09 just use this https://github.com/Kryptonit3/Pusher

[2015-06-29 11:43] noprobz09 commented on #5
Cool, Thanks, I will try this one.

[2015-06-29 11:57] vinkla commented on #5
@Kryptonit3 please see #2 for facade usage. Could you provide your setup using the manager class?

[2015-06-29 16:59] noprobz09 commented on #5
I tried to install using the composer but the error says "could not find package krytonit3/pusher at any version for you minimum stability(stable). Check the package spelling or your minimum stabilty." Do you have any idea about this?

[2015-06-29 16:59] noprobz09 commented on #5
I tried this command "composer require kryptonit3/pusher"

[2015-06-29 17:03] noprobz09 commented on #5
By the way, I'm using Laravel 5.0

[2015-06-29 17:12] Kryptonit3 commented on #5
@noprobz09 try again. Forgot i had stability set to dev.

[2015-06-29 17:35] noprobz09 commented on #5
wow..... I really like your extension, I love this, I will recommend your extension. I really have trouble using some of the extension before, Its not really well documented, and it needs time to debug. Thank you for creating this very simple package but very really amazing extension ;) Keep it up :)

[2015-06-29 18:20] vinkla commented on #5
Closing this. Please move the conversation to @Kryptonit3's Pusher package.

[2015-06-29 18:20] #5 closed

[2015-08-13 18:03] leggetter opened #7 "What's the best way to set up Pusher logging with the Laravel Pusher bridge?"
I'm running a [Building Real-Time Laravel Apps with Pusher](http://laracon.eu/2015/build-real-time-laravel-apps-with-pusher) workshop at Laracon EU. Yipee! As part of that I wanted to show how you have two approaches to using Pusher:

1. Using this bridge library
2. Using the Pusher Event Broadcaster

So that developers are more directly interacting with a `Pusher` instance I'm going to make the m

[2015-08-14 06:46] vinkla commented on #7
Thats sounds like a lot of fun! To bad I couldn't make it, I would really like to go the Laracon sometime.

I'm glad you're going to use this bridge. Since 3.0 is "just" around the corner, let me know if you want me to update the master branch to utilize the latest version of the Pusher library before Laracon.

The logging question I'm not sure about, I don't know the best way to handle it with La

[2015-08-14 10:00] leggetter commented on #7
I'm not going to count on 3.0 being ready for the workshop. Right now we're getting lots of great community contribution, but we obviously can't rely on the generosity of others to get this release.

So I'm going to have to work with 2.x. As above, I've got a relatively simple solution. I was just wondering if integrating into Laravel's logging was something that would be worth getting a quick-fix

[2015-08-19 06:09] vinkla commented on #7
I'm not sure I can give you a good answer. Maybe most people want to handle logging by them selfs?

[2015-08-28 09:43] aris-b opened #8 "Config file"
Hi,
I am having issues installing this package onto Lumen.

The config file located in config/pusher.php is completely ignored, instead the vendor/vinkla config file is used.

As far as i can see, the issue lies here:
https://github.com/vinkla/pusher/blob/master/src/PusherServiceProvider.php#L44:L46

[2015-08-28 09:47] vinkla commented on #8
Did you [turn enable the configuration functionality](http://lumen.laravel.com/docs/installation#configuration-files)?

[2015-08-28 09:50] vinkla commented on #8
Have you registered the service provider correctly?

[2015-08-28 09:54] vinkla commented on #8
http://lumen.laravel.com/docs/installation#configuration-files

[2015-08-28 09:54] #8 closed

[2015-08-28 10:02] aris-b commented on #8
I added this to app.php.
[code]

Thanks @vinkla

[2015-08-28 10:07] vinkla commented on #8
:+1:

[2015-11-19 18:47] #7 closed

[2015-11-19 18:47] #4 closed

[2015-11-28 18:45] zlorkovic commented on #2
+1

[2015-11-28 20:24] GrahamCampbell commented on #2
Just have `use Vinkla\Pusher\Facades\Pusher as PusherFacade;`. Then you're done...

[2015-12-01 21:08] erikstainsby opened #9 "vendor:publish -> Nothing to publish for tag[]"
The vendor:publish command accompishes nothing. Have you gone away from using it? Do you need to update the installation docs?

[2015-12-01 21:09] GrahamCampbell commented on #9
Looks like you forgot to register the service provider, or your services.json file needs deleting from the storage folder.

[2015-12-01 21:42] vinkla commented on #9
@erikstainsby Did you register the service provider?

[2015-12-02 01:00] erikstainsby commented on #9
That was my error. Thanks.

[2015-12-02 01:01] #9 closed

[2016-01-04 21:29] stephanedemotte commented on #2
any update ?

[2016-01-04 21:45] GrahamCampbell commented on #2
There is no bug in this library.

[2016-01-04 21:45] GrahamCampbell commented on #2
Go pester the actual pusher library to sort it out.

[2016-02-03 11:22] sheyooo commented on #2
solution is here not to put the facade class in `app.php` and use the dependency injection with the service provider alone in the `app.php` file.....

[2016-02-03 13:11] rulatir commented on #2
sheyooo - exact incantation please?

[2016-02-03 14:23] sheyooo commented on #2
@rulatir  [https://github.com/vinkla/pusher#installation](url)
follow the instructions this way

## Installation
Require this package, with [Composer](https://getcomposer.org/), in the root directory of your project.

[code]

Add the service provider to `config/app.php` in the `providers` array.

[code]

~~If you want you can use the [facade](http://laravel.com/docs/facades). Add the reference in

[2016-02-05 18:19] rulatir commented on #2
Thanks sheyooo, I just ended up writing a super simple facade by hand, one that directly wraps the Pusher class. I removed vinkla/pusher altogether.

[2016-02-05 19:02] vinkla commented on #2
@rulatir You can actually use the Pusher class with this package without any setup. That is why we bind the Pusher class to the connection. Please see [`PusherServiceProvider.php`](https://github.com/vinkla/pusher/blob/21a8311dca1b5040e2b2e8234da7b1f584e1f279/src/PusherServiceProvider.php#L103-L111).

[2016-02-08 10:30] AymanAlMalki commented on #2
Using @GrahamCampbell suggestion solved the issue

[2016-03-22 09:10] RomainSauvaire opened #11 "Support for cluster name"
Hello there !

Pusher is setting up some clusters on different regions. Since I live in France I would like to use the `eu` but have no option to set it. Could you please tell me if it is planned or not (yet) ?

See the doc : https://pusher.com/docs/clusters

Thank you !

[2016-03-22 09:20] vinkla commented on #11
Thanks for your suggestion! I'll take a look at it soon.

[2016-03-22 09:33] vinkla commented on #11
You're of course welcome to submit a pull request for this.

[2016-03-22 09:35] vinkla commented on #11
You can already do this? Add it to the options array.

[code]

[2016-03-22 09:35] #11 closed

[2016-03-22 09:39] RomainSauvaire commented on #11
Yeah I just noticed it, my bad.

I'll make a PR to update the documentation and state it clearly.

Thank you and all my apologies

[2016-03-22 09:44] vinkla commented on #11
No worries. I think the documentation is fine for now. Thanks anyway!

[2016-04-19 07:35] duanp0128 opened #13 "Unknown auth_key"
Why did I always get "Unknown auth_key" error? I can ensure that my app_key is right.

[2016-04-19 07:44] vinkla commented on #13
This isn't an error thrown by this packages.

@zimbatm what do you think about this?

[2016-04-19 09:42] zimbatm commented on #13
@duanp0128 how did you setup your client ? This would happen if the credentials are missing.

[2016-04-19 10:00] duanp0128 commented on #13
@zimbatm Actually the credentials are missing in my server, but I set "encrypted" as false in "options" array. Is it responsible for the error?

[2016-04-19 10:04] zimbatm commented on #13
If the credentials are missing then that's your issue. The "encrypted" option just tell the client whenever to use HTTPS or plain HTTP.

[2016-04-19 10:06] duanp0128 commented on #13
I see.  Thx.

[2016-04-19 10:33] vinkla commented on #13
Okay, then I'll close this. Thanks for helping out @zimbatm!

[2016-04-19 10:33] #13 closed

[2016-04-30 17:33] jinxuanw-clairvoyant opened #14 "Presence channel not return wrong auth string."
I'm trying to build a presence channel. But the auth string returned is not correct.

Here is the back end code:

[code]

Error message

`Pusher : Error : {"type":"WebSocketError","error":{"type":"PusherError","data":{"code":null,"message":"Auth value for subscription to presence-5 is invalid: should be of format 'key:signature'"}}}`

I guess the the error is caused by the additional ':' added bef

[2016-06-03 13:43] shealan commented on #5
Can't get this to work in Laravel 5.2. Getting this "Method 'trigger' not found in class" error.

[2016-07-05 06:38] jrsalunga commented on #2
$pusher = app('pusher.connection');
 $pusher->trigger('test_channel', 'my_event', ['message'=>'hello world!']);

[2016-07-07 19:18] vinkla commented on #14
Totally forgot about this. Did you manage to solve it?

[2016-07-24 21:57] vinkla commented on #14
Closing due to inactivity.

[2016-08-18 15:09] Clem01 opened #17 "class 'Vinkla\Pusher\Facades\Pusher' does not have a method 'socket_auth'"
Hello,

I don't arrive to implementing the auth endpoint for a private channel. The response is: class 'Vinkla\Pusher\Facades\Pusher' does not have a method 'socket_auth'

My code:
[code]

Thank you for your help :)

[2016-08-18 15:11] GrahamCampbell commented on #17
It has a __call method.

[2016-08-18 15:11] GrahamCampbell commented on #17
well, call static

[2016-08-18 15:19] Clem01 commented on #17
Thanks for your quick response! Can you give me an example please ?

[2016-08-18 15:19] GrahamCampbell commented on #17
No, just call the method?

[2016-08-18 15:19] GrahamCampbell commented on #17
It doesn't need to exist to be called.

[2016-08-18 15:37] Clem01 commented on #17
I do not understand how to call the method "socket_auth".
I try: $auth = $this->pusher->socket_auth;

[2016-08-18 15:57] GrahamCampbell commented on #17
Should work just fine?

[2016-08-18 16:04] Clem01 commented on #17
No, it does not work: 'ErrorException' with message 'Undefined property: Vinkla\Pusher\PusherManager::$socket_auth'

Finally I found a solution ... less clean but it works:
[code]

[2016-08-18 16:05] GrahamCampbell commented on #17
You need to call with with paramaters, instead of using property access. Your code there is not right.

[2016-08-18 16:06] GrahamCampbell commented on #17
That there WILL work just fine.

[2016-08-18 16:12] Clem01 commented on #17
I just found the problem !!

I added the alias 'Pusher' => Vinkla\Pusher\Facades\Pusher::class,
I removed it and it works now :)

Thanks for your help !

[2016-08-18 18:48] #17 closed

[2016-09-26 06:40] mhdafiq commented on #2
I still don't know how this work. Tried all of the method.
Someone please guide me.

[2016-09-26 06:42] vinkla commented on #2
@mhdafiq try https://github.com/vinkla/laravel-pusher/issues/2#issuecomment-179263896

[2016-09-26 09:26] mhdafiq commented on #2
@vinkla i already tried that but still cannot trigger from server.

when i
`dd($this->pusher->trigger('test_channel', 'my_event', ['message' => 'hello world']));`
the value return false.

[2017-01-03 17:16] shalomabitan opened #20 "Using Pusher Notify does not work"
Hi,

First, thank you for making this package - it's great.

Second, I'm trying to use your package with Pusher's `notify` function for Push Notifications, but when I try
[code]
Nothing happens and I'm wondering if you can help guide me to the correct way, if I'm doing something wrong.

thanks

[2017-01-03 17:49] shalomabitan commented on #20
Hi,

I ended up solving my own issue. There's seems to be that I did not have the channel name correct.

My apologies

[2017-01-03 17:49] #20 closed

[2017-03-13 02:23] phuongphally opened #21 "I can not install this package in laravel 5.4"
c:\xampp\htdocs\mymusic (master)
λ composer require vinkla/pusher
Using version ^2.4 for vinkla/pusher
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - vinkla/pusher 2.5.0 requires php ^7.0 -> your PHP version (5.6.30) do

[2017-03-13 07:00] vinkla commented on #21
You need to upgrade to PHP 7.0 before updating this package.

[2017-03-13 07:00] #21 closed

[2017-03-22 09:16] phuongphally opened #22 "Pusher::trigger return false"
Pusher::trigger return false
In laravel 5.4

[2017-03-22 09:25] vinkla commented on #22
You need to provide **a lot more information** if you want our help. Just saying something doesn't work or returns a specific value wont get you anywhere.

[2017-03-23 04:06] phuongphally commented on #22
I can not send message send to pusher console or client JavaScript.
I can not see any errors .

I used $result =   Pusher::trigger('my-channel', 'my-event', ['message' => 'going']);

dd($result);

output : false.

[2017-03-27 10:33] vinkla commented on #22
Try asking in the [official Pusher PHP repository](https://github.com/pusher/pusher-http-php). This is just a Laravel bridge.

[2017-03-27 10:33] #22 closed

[2017-04-09 11:31] pedzed opened #23 "config/pusher.php vs config/broadcasting.php"
Is there really a `config/pusher.php` file necessary? What should we do with `config/broadcasting.php`?

It would be nice if this would be documented.

[2017-04-09 11:40] vinkla commented on #23
Yes, `pusher.php` is required by this package and `broadcasting.php` is required if you want to use Laravel's broadcasting.

[2017-04-09 11:40] #23 closed

[2017-04-09 11:42] pedzed commented on #23
Isn't it better to prevent config duplication by making use of `broadcasting.php`?

[2017-04-09 11:45] vinkla commented on #23
Nah, since you might use this package without touching Laravel's broadcasting.

[2017-05-15 05:44] VerzatileTom commented on #13
@duanp0128 I had this problem too. While I'm following this workshop documentation https://pusher-community.github.io/real-time-laravel, the laravel log file shows this error. Well, I believe I have my keys written right on config/pusher.php.

[2017-05-16 09:50] realtebo commented on #11
@vinkla : please, update documentation ! I've the same problem and I don't know where must I add the 'options' array. Which is the config file to modify?

[2017-05-16 11:09] vinkla commented on #11
@realtebo update the documentation yourself!

[2017-05-25 14:15] HamidVetr commented on #13
I have the same problem as @VerzatileTom

[2017-06-20 14:53] vinkla commented on #2
@jameshfisher @luismfonseca are there any updates on the new version of the `pusher/pusher-php-server` package? When will Pusher release the namespaced version?

[2017-06-22 11:00] luismfonseca commented on #2
@GrahamCampbell @vinkla so I understand correctly, I can just add `namespace Pusher;` to the library, would this solve this problem?

Future users of the library would always need to do `use Pusher\Pusher;` right?

[2017-06-22 11:09] vinkla commented on #2
Yes, but you need to release it as a new major version. It is a breaking change. Shouldn't be a problem though since integers are cheap.

[2017-06-22 11:43] vinkla commented on #2
@luismfonseca let me know if there is anything I can help with!

[2017-06-25 03:10] kamgasimo opened #25 "Pusher cluster for Cameroon-Africa"
I saw in the documentation that the cluster where for specific regions or countries.
Is there a cluster for Cameroon an African country?
Or can we use the eu cluster?

[2017-06-25 09:19] vinkla commented on #25
@luismfonseca can you answer this question?

[2017-07-04 09:45] luismfonseca commented on #25
Hi @kamgasimo,

We can boot new dedicated clusters in any AWS region. Unfortunately, they don't have any regions in Africa.

I suggest testing out our public clusters and see which one yields the lowest latency and go with that. :)

[2017-07-04 10:45] vinkla commented on #25
Closing this since @luismfonseca has answered.

[2017-07-04 10:45] #25 closed

[2017-07-10 14:42] luismfonseca commented on #2
Btw, I've released the new php version!

[2017-07-10 16:25] vinkla commented on #2
@luismfonseca great! I'll release a new version of this package with the Laravel 5.5 support release.

[2017-07-12 04:58] normanaranez commented on #2
ca we use facade now?

[2017-07-12 06:02] vinkla commented on #2
I'll release a new version soon.

[2017-07-13 16:18] vinkla commented on #2
Fixed in 25a88e4be077218e890b995afe45e8854ef6865f.

[2017-07-13 16:18] #2 closed

[2017-07-20 20:35] rodrigosaavedra commented on #22
@phuongphally Did you manage to send the trigger? I have the same problem thanks

[2017-07-31 08:43] al6s1976 opened #26 "Class 'Pusher\Pusher' not found"
Since the last update i get this error

Symfony\Component\Debug\Exception\FatalThrowableError: Class 'Pusher\Pusher' not found in D:\Xampp7\htdocs\cookme\vendor\vinkla\pusher\src\PusherFactory.php:79

[2017-07-31 10:14] al6s1976 commented on #26
as i can see it installs  pusher/pusher-php-server (2.6.4) and not 3.0.0 .....
adding in composer "pusher/pusher-php-server": "^3.0" leads to

 - vinkla/pusher 2.5.0 requires pusher/pusher-php-server ^2.6 -> satisfiable by pusher/pusher-php-server[2.6.1, 2.6.2, 2.6.3, 2.6.4, 2.x-dev, v2.6.0] but these conflict with your requirements or minimum-stability.

[2017-07-31 10:57] vinkla commented on #26
What version of this package and Laravel are you using?

[2017-07-31 10:59] al6s1976 commented on #26
sorry i forgot it
Laravel 5.4 and pusher 2.5.0

[2017-07-31 11:08] vinkla commented on #26
Please paste your `composer.json` file.

[2017-07-31 11:09] al6s1976 commented on #26
[code]

[2017-07-31 11:11] vinkla commented on #26
It looks okay, try removing the `vendor` map and run `composer install` again.

[2017-07-31 11:13] al6s1976 commented on #26
sorry but what do you mean vendor map ?

[2017-07-31 11:13] vinkla commented on #26
The `vendor` directory in the root of your project.

[2017-07-31 11:18] al6s1976 commented on #26
i deleted the composer cache too but it didn't help

it downloads pusher 2.5 and pusher-php-server 2.6.4(and  graham-campbell/manager 2.5)

[2017-07-31 11:22] vinkla commented on #26
Should work, haven't had any problems myself. The tests pass so this is probably something in your environment and not a bug with this package.

[2017-07-31 11:22] #26 closed

[2017-07-31 11:23] al6s1976 commented on #26
That was my initial thought .... Thanks for the help

[2017-08-01 10:20] al6s1976 commented on #26
Sorry to reopen this but composer doesn't download the right version of the package ...
Here's the composer.json for the package i got after deleting the vendor folder,the composer cache and composer.lock
{
    "name": "vinkla/pusher",
    "description": "A Pusher bridge for Laravel",
    "license": "MIT",
    "keywords": ["laravel", "pusher", "http", "api", "php-pusher-server", "rest", "realtime"

[2017-08-06 15:09] bashirpour commented on #13
I had the same problem solved using the above method.
Thank you

[2017-08-15 14:51] YuriFontella commented on #21
And for those who already have installed php 7, as was my case ... it is necessary to change the file composer.json in:

[code]
In the config object.

[2017-08-15 16:45] vinkla commented on #21
@YuriFontella no it isn’t necessary? If you have the correct version installed you don’t need to configure the platform.

[2017-08-15 17:01] YuriFontella commented on #21
I do not know why, but in my composer.json it was 5.1.6. Then there was the same error described above by phuongphally.

[2017-08-15 18:04] vinkla commented on #21
You are probably running an older version of PHP.

[2017-08-16 22:20] YuriFontella commented on #21
My version was already version 7, even though the error was happening. I changed the platform from 5.1.6 to 7.1.8 and was able to do the installation.

I just reported that I saw that your solution was to have php 7. As I already had and it still had not worked. It only worked when I changed the platform in composer.json.

Thks @vinkla

[2017-08-17 05:08] vinkla commented on #21
Okay, good. Out of curiosity: did it work when you removed the platform config?

[2017-08-17 22:20] YuriFontella commented on #21
I did not remove it, I just changed the version that was there. I went to my terminal with the command php -v (7.1.8) and replaced with the version that was there. And so I was able to perform the installation.

[code]

[2017-08-26 09:27] DevKhalidSami opened #27 "add Arabic text on image using GD PHP"
At first, I have an image (card). I want to fill data card from the database using GD PHP to add text and merge QR code, no problem with merge QR code image. put the problem in adding Arabic text.

`public function exportCards(){
    header('Content-type: image/png; charset=utf8');

    // Create Image From Existing File
    $jpg_image = imagecreatefrompng(asset('/images/card.png'));

    // Alloc

[2017-08-26 09:33] vinkla commented on #27
This is not a bug or issue related to this package. Please ask in a PHP forum such as [Laracasts](https://laracasts.com/discuss).

[2017-08-26 09:33] #27 closed

[2017-10-23 23:09] saleemepoch commented on #14
I am having the exact same issue. Was there any solution to this?

[2017-10-24 01:28] jinxuan commented on #14
Hi, I can't remember exactly since it has been too long. But be sure to check all your input parameters by log it out..

[2017-12-06 08:49] ufeg02 opened #29 "Error on installing on Laravel 5.4"
When I try to install puser-http-laravel I get the following error:

Using version ^4.0 for pusher/pusher-http-laravel
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for pusher/pusher-http-laravel ^

[2017-12-06 14:20] ufeg02 commented on #29
Fixed!

[2017-12-06 14:20] #29 closed

[2017-12-06 15:05] kn100 commented on #29
For future reference, could you let me know how you fixed this?

[2017-12-07 08:01] ufeg02 commented on #29
I had some unused packages that were not compatible with some depencies of this package.

[2017-12-30 11:31] jaap commented on #22
@phuongphally ans @rodrigosaavedra I hade the same issue. After turning on debug mode in config/pusher.php I found out I was getting a `false` because of an 'Unknown auth key'. Turns out I needed to set the cluster.

Adjusting your pusher.php config to somehting like this will probably resolve;

[code]
Related issues/links:
#11 - Support for cluster name
Cluster setting: https://stackoverflow.com/

[2017-12-30 14:08] AhmedHdeawy commented on #26
in your `config/app,php` add this line to aliases

`'Pusher' => Pusher\Pusher::class,`

[2018-01-03 14:37] kn100 commented on #26
Hi,

You should also look into updating to the latest version. It was recently brought in house, kindly donated from @vinkla :)

[2018-01-03 23:02] matudelatower commented on #14
same problem that @jinxuanw-clairvoyant

[2018-01-03 23:36] kn100 commented on #14
Hey, I'll look into this tomorrow afternoon. Please provide me with as much detail as possible in the meantime! Specifically, which version of the library you're using, how you're creating the authentication endpoint, etc.

Reopening due to the issue still being relevant.

[2018-01-04 03:30] saleemepoch commented on #14
Forgot to report back but in my case I believe I had the debugbar package enabled which was throwing a lot of its own code too. Once I disabled debugbar it worked fine. The colon in auth string wasn't an issue.

[2018-01-04 10:13] kn100 commented on #14
Can anyone else confirm that they're having this same issue for the same reason as @saleemepoch lists?

[2018-01-17 01:05] stueynet commented on #29
I am getting the same error @ufeg02. Any chance you could provide even more detail? Which were the problem packages?

[2018-01-17 10:17] kn100 commented on #14
Closing due to inactivity

[2018-01-17 10:17] #14 closed

[2018-02-08 11:14] handriady opened #30 "Install error on laravel 5.4"
[code]

My php version is 7.1.11. Is this package no longer support laravel 5.4 ? because i saw that this package dropped support for laravel 5.4.

[2018-02-10 15:19] zutigrm commented on #13
Yup, Cluster solved that for me too.

Thanks =)

[2018-02-10 17:14] kn100 commented on #13
Awesome, glad to hear it!

[2018-02-14 20:45] dellamina opened #31 "Install error on laravel 5.6"
Fresh installation of Laravel 5.6.3, it looks like illuminate/contracts should be pumped up and probably illuminate/support too.

[code]

[2018-02-16 07:38] SachinGanesh commented on #31
Yes. Facing the same issue.

[2018-02-16 07:40] vinkla commented on #31
Feel free to submit a pull request to add Laravel 5.6 support.

If you want to, [you can use this pull request as a reference](https://github.com/vinkla/laravel-hashids/commit/b289c500c04750fd4086aa89099e360975299e9e).

[2018-02-27 16:43] kn100 commented on #31
This should be resolved now, sorry for the delay!

[2018-02-27 16:43] #31 closed

[2018-04-16 04:29] Dian8 commented on #30
We are experiencing this issue too.
Looks like support is now only for 5.6  https://github.com/pusher/pusher-http-laravel/issues/31

[2018-04-23 10:01] WillSewell commented on #30
Support was dropped as of this commit: https://github.com/pusher/pusher-http-laravel/commit/16c707c0c2b24085e190b9f8a7218f616b285023.

I'm afraid you will have to stick to v3.0.0 of this library if you would like compatibility with laravel 5.4. We'd be open to PRs that make this library backwards compatible though.

[2018-04-23 10:01] #30 closed

[2018-06-07 13:58] fluvios commented on #26
hello i want to ask, whats the problem with my code ? i used laravel 5.3.2 and pusher/pusher-http-laravel 2.3.0

in array providers
`Pusher\Laravel\PusherServiceProvider::class,`

in array aliases
` 'Pusher' => Pusher\Laravel\Facades\Pusher::class,`

` [Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Pusher\Laravel\PusherServiceProvider' not found`

[2018-06-07 14:01] fluvios opened #36 "Class 'Pusher\Laravel\PusherServiceProvider' not found"
hello i want to ask, whats the problem with my code ? i used laravel 5.3.2 and pusher/pusher-http-laravel 2.3.0

in array providers
Pusher\Laravel\PusherServiceProvider::class,

in array aliases
'Pusher' => Pusher\Laravel\Facades\Pusher::class,

[Symfony\Component\Debug\Exception\FatalThrowableError] Class 'Pusher\Laravel\PusherServiceProvider' not found

[2018-06-07 14:03] fluvios commented on #36
sorry, i found solutions, change the array providers to Vinkla\Pusher\PusherServiceProvider::class.

hope this it helps

[2018-06-07 14:03] #36 closed

[2018-06-21 13:54] WillSewell commented on #36
Yes that is true of older version of this library. An alternative solution is to update the version of this library.

[2018-07-27 18:09] kamhawy4 commented on #22
CLUSTER=eu

[2018-08-03 22:42] fabioduque commented on #22
Actually for me the issue was having the option `encrypted` set to true (as in the example code from Pusher).

I've changed it to false, and it worked.

`'encrypted' => false`

[2018-08-14 13:32] asterism612 opened #37 "Pusher::trigger always false in laravel 5.6"
how to solve?

Pusher::trigger('test-chat', 'test-msg', ['user' => 'tester', 'text' => 'test']);

 42         'main' => [
 43             'auth_key' => env('PUSHER_APP_KEY'),
 44             'secret' => env('PUSHER_APP_SECRET'),
 45             'app_id' => env('PUSHER_APP_ID'),
 46             'options' => [
 47                 'debug' => true,
 48                 'cluster' => env('PUSHER_APP_CLUS

[2018-08-14 16:20] kn100 commented on #37
Hey - can you contact support@pusher.com with your query? Thanks!

[2018-08-14 16:20] #37 closed

[2018-09-16 11:38] AkshatSrivastava2 commented on #26
@fluvios Add

Worked for me thanks.

[2018-10-02 10:45] jameshfisher opened #40 "Set up the new GitHub Hook for Packagist"
Pusher-http-laravel composer github integration is going to break in early 2019. Worth fixing now. Error "This package is using the legacy GitHub service and will stop being auto-updated in early 2019. Please set up the new GitHub Hook for Packagist so that it keeps working in the future."

[2018-10-09 12:31] kn100 commented on #40
It's probably something only we can fix, since we own the organization. Thanks for your interest though!

[2018-10-09 12:32] simPod commented on #40
Just managed it for my own repos by signing out and in using github (it asked for github permissions)

[2018-10-18 13:30] WillSewell commented on #40
This has been done.

[2018-10-18 13:30] #40 closed

[2019-01-23 16:29] namelivia opened #43 "Pusher beams integration"
This package offers a wrapper around pusher-http-laravel, it has a notify function that sends a notification a native notification via the Push Notifications Api, as this is going to be replaced, would it be convenient wrapping push-notifications-php aswell and reusing this method (or adding a new one) but keeping this wrapper package or do you consider that it would be better making a new wrapper

[2019-01-24 09:09] namelivia commented on #43
Currently because my client is in kind of a hurry I've created [this laravel wrapper](https://github.com/namelivia/push-notifications-laravel) for pusher beams which I intended to keep as similar to the laravel wrapper you have (most of the code is copied indeed, hope its ok) but wraps push-notifications-php.

[2019-02-08 11:43] WillSewell commented on #43
Thanks for sharing your Laravel Beams wrapper!

The current plan is to keep SDKs for Channels and Beams separate, so the approach you have taken is the right one!

I'll close this issue, but if you want to discuss your Laravel wrapper for Beams, then feel free to discuss with the team on this [slack group](https://feedback-beta.pusher.com/).

[2019-02-08 11:43] #43 closed

[2019-02-25 09:08] SetareMaghari opened #49 "cannot sign up in pusher website"
hi. i cannot creat account in pusher website. it gives me this error:
An unexpected error occurred. Please try again

i tried creating account with google, github and by filling the form. but its not working totally

[2019-02-26 14:15] WillSewell commented on #49
Please raise this issue with Pusher customer support: https://support.pusher.com/hc/en-us/requests/new.

[2019-02-26 14:15] #49 closed

[2019-03-02 05:35] halfahad opened #51 "Update for Laravel 5.8"
Good day!

Any ETA on updating the packages to support 5.8 release?

[2019-03-08 19:12] halfahad commented on #51
@WillSewell  if you're free, would appreciate your attention on this.  Many thanks!

[2019-03-11 15:39] WillSewell commented on #51
Resolved in the underlying PR.

[2019-03-11 15:40] #51 closed

[2019-04-13 17:32] Niush opened #54 "Installation Failed on Laravel 5.8"
Installation Failed, Laravel 5.8
[code]

[2019-04-13 18:17] #54 closed

[2019-06-17 11:05] WillSewell opened #55 "Deprecate this SDK"
[Laravel Broadcasting](https://laravel.com/docs/5.8/broadcasting) now includes built-in support for Pusher Channels via the [pusher-http-php](https://github.com/pusher/pusher-http-php/) SDK. This is now the recommended way of using Channels with Laravel. We should deprecate this repository.

I propose we:

* Set the Github repository as "archived"
* Mention the library is deprecated in the README

[2019-06-17 12:49] WillSewell commented on #55
@vinkla do you know whether there is any motivation to use this library over Laravel Broadcasting?

[2019-06-17 13:45] vinkla commented on #55
This package was created in early 2015. Not sure if Laravel's Broadcasting features existed back then. The reason I kept this package alive was due to the number of users:

Package | Total Downloads | Monthly Downloads
------- | --------------- | -----------------
`pusher/pusher-http-laravel ` | 147242 | 9077
`vinkla/pusher` | 356229 | 2837

[2019-06-17 14:16] GrahamCampbell commented on #55
I still use this package (well, actually, I had to fork it because support for LTS laravel was dropped, and I need the latest manager version).

[2019-06-18 08:42] WillSewell commented on #55
Thanks for the information, both.

I think given the fairly substantial usage, I would like to change the plan to:

* Update the readme to mention use of this library is no longer the recommended approach
* Remove it from https://pusher.com/docs/channels/channels_libraries/libraries

We (Pusher) will continue to review any PRs and solve security vulnerabilities in this SDK, but will not be making

[2019-06-18 08:45] GrahamCampbell commented on #55
Does Laravel's broadcasting support encryption?

[2019-06-19 13:10] WillSewell commented on #55
I haven't tested it, but it should do. You should be able to set `encryption_master_key` in the `options` config and it should just work™️.

[2019-06-19 14:59] GrahamCampbell commented on #55
I wonder what version of Laravel supports encryption. I doubt 5.5 LTS does. ;)

[2019-06-19 15:00] GrahamCampbell commented on #55
Maybe the deprecation of this package should be considered again after Laravel 5.9 LTS drops in a couple of months (or sooner, not sure if the release is planned for late July or August).

[2019-06-19 15:52] WillSewell commented on #55
It should still work. The encryption depends on libsodium. This has been included in the PHP standard library since 7.2. On earlier versions of PHP, libsodium package from PECL can be used. The version of Laravel shouldn't matter.

[2019-06-19 16:19] GrahamCampbell commented on #55
The version will matter if the code needed to enable encryption isn't in there.

[2019-06-25 13:20] #55 closed

[2019-09-17 10:40] AnotherHater commented on #26
This worked for me too. You saved my day.

[2019-11-04 07:29] raghad1996 opened #60 "pusher-http-laravel not compatible with Laravel v6.0.3"
Hi there,
When I try to install pusher-http-laravel at laravel last version (6.0.3), I faced this erro.

[code]
![image](https://user-images.githubusercontent.com/43421717/68104941-07eaa300-feee-11e9-96fc-886689772c3d.png)

[2019-11-04 08:29] #60 closed

[2020-02-04 19:13] AliHassan13 commented on #26
try this command and install it.
`composer require pusher/pusher-php-server`

[2020-03-03 12:16] cliffireri commented on #14
Any solution to this?

[2020-06-11 11:52] praveenyadv commented on #14
According to pusher(https://pusher.com/docs/channels/library_auth_reference/auth-signatures#worked-example)

**The auth response should be a JSON string with an auth property with a value composed of the application key and the authentication signature separated by a colon ':' as follows: {"auth":"278d425bdf160c739803:58df8b0c36d6982b82c3ecf6b4662e34fe8c25bba48f5369f135bf843651c3a4"}**

if the aut

[2021-07-08 05:06] mistahcheong opened #66 "Inconsistent Triggering Events"
[code]

basically this is a snippet of how I trigger my notifications to different channels. So the issue is it gets very inconsistent, some days it works and some days it doesn't. And I can see the analytics on the dashboard that there is activity going on though the frontend is listening to the channels or is subscribed to them but it's not receiving anything when the notification should be trig

[2021-09-16 11:50] amad commented on #66
@mistahcheong do you still have this problem? We didn't had any report about similar issues. Do you get any error when you call trigger method?

[2021-09-17 03:58] mistahcheong commented on #66
No, thank you. I figured I misused the subscribe method. Thank you.

On Thu, Sep 16, 2021 at 7:51 PM Ahmad Samiei ***@***.***>
wrote:

--
Best Regards,

Kawin Cheong

[2021-10-07 15:30] #66 closed, assigned to nobody

[2021-12-22 16:31] Aiotouch commented on #26
Hello everyone, please I'm having issue with pusher. I'm using laravel 8 with pusher.
Here's the error:

 Error

  Class "Pusher\Pusher" not found

  at vendor/laravel/framework/src/Illuminate/Broadcasting/BroadcastManager.php:216
    212▕      * @return \Illuminate\Contracts\Broadcasting\Broadcaster
    213▕      */
    214▕     protected function createPusherDriver(array $config)
    215▕     {

[2021-12-22 16:34] Aiotouch commented on #26
From my little research it seems Pusher can't run on PHP 8.0 and I'm running PHP 8.0 on my system. If this is the issue, please can you help me with a way out?

[2022-08-11 11:34] mirza4027 commented on #26
@Aiotouch any updates, I am facing this issue with Laravel 8.0, everything is working normally on local, but get thus error message on staging server